*{
  margin: 0;
  padding: 0;
}

:root {
    --bg-dark-color: #0A0A0A;
    --bg-color: #F3F3F3;

    --primary-color: #3FD763;
    --primary-dark-color: #9D4CCB;

    --secundary-color: #66C77D;
    --secundary-dark-color: #7F3DC9;

    --font-family: 'Open Sans', sans-serif;
    --font-size: 22px;
    --font-weight: bold;
}

.sobre {
    color: var(--primary-color);
    font-family: var(--font1);
    font-weight: bold;

    margin: 7px 0 7px 0;

    border: 1px solid var(--primary-color);

   
}

.apresentacao{
    height: 100vh;

    
}

.apresentação,  h1 , h2{
    font-size: 50px;
    border: 1px solid red;
    max-width: 50%;
}

.princial{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.imagem{
    border: 1px solid #7F3DC9
}

.descricao {
    color: var(--primary-color);

    font-family: var(--font1);
    font-weight: bold;

    width: 70%;

    margin-bottom: 20px;

    border: 1px solid var(--primary-color);
}

.descricao h2{
    margin: 10px;
}

.exp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border: 1px solid var(--primary-color);
    margin: 1px;
}

.hagens,
.ntic {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.exp h1 {
    grid-column: 1 / -1;
    color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);

    
    padding: 0;
}

.exp h2,
h3 {
    font-weight: normal;
    margin: 0px;
   
    
}

.hagens, .ntic h3, li{
   margin-left: 15px;
}

.links {
    display: flex;
    border: 1px solid var(--primary-color);
    align-items: center;
   
    
}

.links .h1 {

    height: 40px;
    width: 180px;

    border: 1px solid var(--primary-color);
}

.links h2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;

    margin: 20px;
    
    width: 100px;
    height: 40px;

    border: 1px solid var(--primary-color);
}