* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark-color: #0A0A0A;
    --bg-color: #F3F3F3;

    --primary-color: #3FD763;
    --primary-dark-color: #9D4CCB;

    --secundary-color: #66C77D;
    --secundary-dark-color: #7F3DC9;

    --font-family: 'Open Sans', sans-serif;
    --font-size: 22px;
    --font-weight: bold;
}

.tec {
    border: 1px solid var(--secundary-color);
    border-radius: 15px;

    width: 250px;
    height: 60px;

    align-items: center;
    position:absolute;
    

    left: 40%;
    padding: 10px;
    margin: 30px auto;

    font-size: 30px;

    background: #ebeaea;
}

.habilidades {
    height: 100vh;

    border: 1px solid var(--primary-color);

    display: flex;

    gap: 30px;
    


}




.tituloF {
    border: 1px solid var(--primary-color);
}

.front {
    display: flex;
    flex-direction: column;

    width: 30%;
   

    margin-top: 200px;
    margin-left: 60px;

}

.tecFront {
    border: 1px solid var(--primary-color);

    

    height: 400px;
}




.back {
    display: flex;
    flex-direction: column;

    width: 30%;
    height: 500px;

    margin-top: 200px;
}

.tecBack {
    border: 1px solid var(--primary-color);

    height: 400px;
}

.outros {
    border: 1px solid var(--primary-color);

    display: flex;
    flex-direction: column;

    width: 30%;
    height: 400px;
    margin-top: 200px;
}


.line1,
.line2 {
    display: flex;
    justify-content: space-between;
    width: 80%;

    margin: 20px;

    border: 1px solid var(--primary-color);

}

.line1 ul,
.line2 ul {
    display: flex;
    list-style-type: none;
    padding: 0;


}

.line1 li,
.line2 li {
    padding: 5px;

}